.App {
  text-align: center;
}

h1 {
  color: cadetblue;
}
.star-rating {
  width: fit-content;
  margin: auto;
  font-size: 50px;
  display: flex;
  cursor: pointer;
}

.star{
  color: lightgray;
}

.star-filled {
  color: chocolate;
}